<app-header></app-header>

<main class="main">
    <div class="container">
        <div class="row mt-5  mt-lg-0">
            <div class="col-12 col-md-7 col-lg-5 d-flex align-items-center">
                <div class="mb-7 mt-5 mt-md-0">
                    <h1 class="display-4 fw-normal mt-5">GitLab</h1>
                    <p class="lead fw-normal">
                        La única plataforma DevOps</p>
                    <button type="button" class="btn btn-primary">Conseguir prueba gratuita</button>
                    <button type="button" class="mr-4 btn btn-outline-secondary">¿Qué es GitLab?</button>

                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-7 d-flex justify-content-center">
                <img src="../../../assets/undraw_Team_collaboration_re_ow29.png" class="w-100 pt-5 pb-5">
            </div>

        </div>

    </div>
    <div class="bg-dark  text-center text-white w-100">
        <div class="my-3 py-3">
            <h2 class="display-5 mt-5 mb-5">¿Qué es GitLab?</h2>
            <p class="lead  m-auto col-10 col-md-6 mb-3">Desde la planificación hasta la producción, reúna a los equipos en una sola aplicación. Envíe código seguro más rápido, implemente en cualquier nube e impulse los resultados comerciales.</p>
        </div>
        <div class="bg-white  mx-auto"
            style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        </div>
    </div>
  
</main>

<app-footer></app-footer>


