.btn-outline-secondary {
    margin-left: 10px;
}
.main {
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}
@media only screen and (min-width: 0px) and (max-width: 375px){
    .btn-outline-secondary {
        margin-left: 0px !important;
        margin-top: 10px;
    }
}
